NODE_ENV=development
PORT=7002
ZONE=Asia/Kolkata
DB_HOST=localhost
DB_USER=root
DB_PASS=root
DB_NAME=db_jaferani_steel
DB_PORT=3306
SECRET_KEY_ADMIN=wejrt
SECRET_KEY_USER=wejrt
API_URL=http://localhost:7002
COOKIE_DOMAIN_API=localhost:7002
ENCRYPTION_KEY=12345678901234567890123456789012
PUBLIC_DOCUMENT_PATH=./public
ALLOWED_URL="http://localhost:7001, http://localhost:7002, http://localhost:3000"
NODE_TLS_REJECT_UNAUTHORIZED=0